<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="testdb" connectionString="Data Source = 13.92.182.54; Initial Catalog = TRADEDBRockyTest; User ID = sa; Password=Bunkerhill1!;MultipleActiveResultSets=true"/>
	</connectionStrings>
	<appSettings>
		<add key="KafkaServer" value="localhost:9092"/>
		<add key="KafkaGroupId" value="hartree-group1"/>
		<add key="KafkaTopic" value="hartree-data"/>
		<add key="Interval" value="500"/>
	</appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>